<div class="login-container">
  <div *ngIf="loginError" class="alert alert-danger">
  {{ loginError }}
</div>
<div><p>test if this wok</p></div>
  <div class="form-wrapper animate__animated animate__fadeIn">
    <h2 class="form-title text-center text-primary">Login to Pigeon Sky Race</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-3">
        <label for="motDePasse" class="form-label">Password</label>
        <input
          type="password"
          id="motDePasse"
          class="form-control"
          formControlName="motDePasse"
          placeholder="Enter your password"
        />
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary">Login</button>
        <a routerLink="/register" class="btn btn-link">Don't have an account? Register</a>
      </div>
    </form>
  </div>
</div>
